<%- include('header'); -%>

<div
  class="w-1/2 m-auto mt-4 flex justify-start items-center gap-4 bg-white max-[900px]:w-[90%] max-[900px]:gap-2"
>
  <img
    src="hamBurgerBtn.png"
    alt=""
    class="homeBurger z-20 w-16 max-[900px]:w-12 cursor-pointer"
  />
  <img src="walkie.png" alt="" class="max-[900px]:w-28" />
</div>
<div class="flex h-screen">
  <div
    class="leftSilder bg-white w-[25%] h-[110vh] pt-28 absolute -left-96 top-0 z-10 max-[900px]:w-[40%]"
  >
    <div class="grid justify-center items-center m-auto gap-4">
      <%if(img){%>
      <img
        src="<%=img%>"
        alt=""
        class="rounded-full object-contain h-32 w-32 m-auto max-[900px]:w-16 max-[900px]:h-16 bg-neutral-300"
      />
      <p
        class="text-2xl text-zinc-500 font-bold text-center max-[900px]:text-base"
      >
        <%=name%>
      </p>
      <%}else{%>
      <form
        method="post"
        action="/home"
        enctype="multipart/form-data"
        class="grid justify-center items-center gap-2"
        id="ownerProf"
      >
        <div class="uploadProfile flex justify-center items-center">
          <div class="flex items-center justify-center w-full">
            <label
              for="dropzone-file"
              class="flex flex-col items-center justify-center rounded-full w-32 h-32 max-[900px]:w-24 max-[900px]:h-24 border-2 border-gray-300 border-dashed cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
            >
              <div class="flex flex-col items-center justify-center ">
                <svg
                  aria-hidden="true"
                  class="w-10 h-10  text-gray-400"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
                  ></path>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold max-[900px]:hidden">upload a profile</span> 
                </p>
              </div>
              <input
                name="profileImg"
                id="dropzone-file"
                type="file"
                accept="image/*"
                class="hidden"
                onchange="document.getElementById('ownerProf').submit()"
              />
            </label>
          </div>
        </div>
        
      </form>
      <p
        class="text-2xl text-zinc-500 font-bold text-center max-[900px]:text-base"
      >
        <%=name%>
      </p>
      <%}%>

      <a
        href="dog-walker"
        class="text-center text-lg text-white bg-emerald-500 max-w-full rounded-lg px-8 py-4 max-[900px]:px-2 max-[900px]:py-2 max-[900px]:text-sm max-[325px]:text-xs"
        >Become a Walker</a
      >
    </div>
  </div>
  <div
    class="bgChange w-full max-[900px]:m-auto grid justify-center items-start pt-12 bg-white transition duration-300 ease-in max-[900px]:pr-0 max-[900px]:max-w-full max-[900px]:h-screen max-[900px]:w[100vw] max-[900px]:text-center"
  >
    <div class="grid gap-12">
      <p class="text-5xl text-zinc-400 mb-4 max-[900px]:text-2xl">
        Want to walk your pet?
      </p>
      <a href="/home/walk-your-dog">
        <div
          class="grid justify-center pb-4 items-center text-center hover:bg-neutral-300 hover:scale-105 transition duration-300 rounded-lg"
        >
          <img
            src="dog-walking.png"
            alt=""
            class="max-w-sm m-auto max-[900px]:max-w-xs"
          />
          <p class="text-3xl text-zinc-500 font-bold">Walk</p>
          <p class="text-xl text-zinc-400">Get their step in</p>
        </div>
      </a>
      <div class="text-center border-y border-solid border-zinc-600 py-8">
        <p class="text-2xl text-zinc-500 font-bold">Upcoming services</p>
        <p class="text-xl text-zinc-400 max-[900px]:w-[98%]">
          You have no upcoming services, book a service now!
        </p>
      </div>
    </div>

    <%if(foundPost){%>
      <%const img =foundPost.img%> <%const
    base64Image = Buffer.from(img).toString("base64");%> <%const imgF =
    "data:image/png;base64,"+base64Image%>
      <div class="grid mt-8">
      
        <div
          class="w-[100%] grid border border-neutral-300 rounded-sm p-4 gap-2 mb-4"
        >
          <img
            src="<%=imgF%>"
            alt=""
            class="relative justify-center items-center m-auto rounded-full h-32 w-32 object-contain max-[410px]:w-24 max-[410px]:h-24 "
          />
          <div class="flex justify-between items-center w-[100%] gap-4">
            <div>
              <p
                class="max-[650px]:text-2xl max-[500px]:text-xl max-[410px]:text-lg text-3xl font-bold text-zinc-600"
              >
                <%=foundPost.dogBreed%>
              </p>
            </div>
    
            <div>
              <p class="text-xl font-bold text-zinc-600">15$</p>
            </div>
          </div>
          
          <div
            class="max-[766px]:grid max-[766px]:m-auto max-[410px]:text-xs text-left flex justify-between items-center w-[100%]"
          >
            <div>
              <p class="w-1/2"><%=foundPost.descriptions%></p>
            </div>
            
          </div>
          <%if(foundwalker){%>
            <div class="grid place-items-center">
            <i class="fa-sharp fa-regular fa-circle-check fa-4x text-emerald-500"></i>
            <div class="text-center">
              <p>Congrats you got a dog walker</p>
              <p>Check his profile <a href="/profile?name=<%=foundwalker.name%>&id=<%=foundwalker.id%>" class="text-emerald-500 font-bold underline"><%=foundwalker.name%></a></p>

            </div>
          </div>
          <div class="flex justify-between items-center my-4">
            <a href="/approve-request" class="bg-emerald-500 px-4 py-2 border border-emerald-500 text-white hover:bg-white hover:text-emerald-500 transition duration-200">Approve</a>
            <a href="/decline-request" class="bg-emerald-500 px-4 py-2 border border-emerald-500 text-white hover:bg-white hover:text-emerald-500 transition duration-200">decline</a>
          </div>
          <%}else{%>
            <div class="grid place-items-center">
              
                <p class="mt-4 ">Wait for your dog walker</p>
                
            </div>
          <%}%>
            
          
        </div>
        
    </div>
    <%}%>

    
  </div>
  
</div>

<%- include('footer'); -%>
