<%- include('header'); -%>

<div>
  <div class="">
    <div class="fixed z-30 w-[100vw] top-0">
      <nav class="bg-white">
        <div class="mx-auto px-4">
          <div class="">
            <div class="flex justify-between">
              <!-- Primary Navbar items -->
              <div class="flex items-center space-x-1">
                <!-- Website Logo -->
                <div class="">
                  <a href="#" class="flex items-center py-4 px-2 mt-1">
                    <img
                      src="walkie.png"
                      alt="Logo"
                      class="mx-2 my-2 w-24 rotate-1"
                    />
                  </a>
                </div>
              </div>
              <!-- Secondary Navbar items -->
              <div class="flex items-center space-x-3">
                <div
                  class="slider hidden absolute right-24 top-6 bg-white shadow-sm shadow-zinc-500 rounded-md transition-all"
                >
                  <div
                    class="cursor-pointer hover:bg-emerald-500 hover:text-white py-3 px-5 pb-4 rounded-t-md transition duration-200"
                  >
                    <a href="/posts">Available Dogs</a>
                  </div>
                  <div
                    class="cursor-pointer hover:bg-emerald-500 hover:text-white py-3 px-5 pb-4 rounded-b-md transition duration-200"
                  >
                    <a href="logout">Logout</a>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div>
    <div class="w-full h-96 mt-20 bg-gray-600">
      <%if(foundWalker.coverImg){%>
      
      <img
        class="object-cover w-full h-full"
        src="data:image/png;base64,<%=coverImg%>"
        alt=""
      />
      <%}%>
    </div>
    <div
      class="flex gap-9 w-1/2 max-[1150px]:w-11/12 m-auto max-[675px]:grid max-[675px]:w-full max-[675px]:place-items-center"
    >
      <div class="relative bottom-5 z-10 w-2/5 text-center max-[675px]:w-3/5">
        <div class="">
          <div class="bg-white relative">
            <% if (foundWalker.profile) { %>

            <div class="m-auto profilePic relative bottom-16">
              
                    <img
                      src="data:image/png;base64,<%Buffer.from(foundWalker.profile).toString('base64')%>"
                      alt=""
                      class="EditableProfImg bg-white flex justify-center items-center m-auto rounded-full h-32 w-32 object-contain"
                    />
                  
            
            <% }else{%>
            <div
              class="flex items-center justify-center w-32 h-32 m-auto relative bottom-16"
            >
            <img
            src="user.png"
            alt=""
            class="EditableProfImg bg-white flex justify-center items-center m-auto rounded-full h-32 w-32 object-contain"
          />
            </div>
            <%}%>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <div class="grid justify-center items-center gap-2 text-left">
            <div class="name"><%=foundWalker.name%></div>
            
            
            <div><%=foundWalker.address%></div>
            
          </div>
          
        </div>

        <div class="grid items-center mt-8 gap-2">
          <div class="flex justify-between items-center">
            <p>Insights</p>
          </div>
          <div class="flex justify-between items-center">
            <p>Walked Dogs</p>
            <p>0</p>
          </div>
          <div class="flex justify-between items-center">
            <p>Owners worked with</p>
            <p>0</p>
          </div>
        </div>
      </div>

      <div class="mt-4 w-3/5 grid gap-6">
        <div class="">
          <p
            class="font-bold text-zinc-600 text-lg mb-2 border-b border-zinc-300"
          >
            Descriptions
            
          </p>
          <%if(foundWalker.descriptions){%>
            <p class="descriptionsText"><%=foundWalker.descriptions%></p>
          <%}else{%>
            <p class="descriptionsText text-zinc-500">No description yet</p>
          <%}%>
          

         
        </div>
        <div>
          <p
            class="font-bold text-zinc-600 text-lg mb-2 border-b border-zinc-300"
          >
            Reveiws
          </p>
          <div class="grid gap-2">
            <div class="flex items-center gap-4">
              <img
                src="IMG_0292.png"
                alt=""
                class="bg-white flex justify-start items-start rounded-full h-12 w-12 object-contain relative"
              />
              <p>UserName</p>
            </div>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
              est. Dignissimos enim odio facere rerum magni illo, voluptas,
              facilis nobis ab reiciendis perferendis repellendus laborum esse
              in eveniet sint. Soluta?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer'); -%>
</div>
